/* css reset */
* {
	box-sizing: border-box;
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
	max-height: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}
ul,
li,
ol {
	padding-left: 0;
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
}

/* own css */

:root {
	--bg: #121212;
	--bg-alt: #1e1e1e;
	--bg-alt-darker: #1b1b1b;
	--fg: #faf9f6;
	--accent: #c6fbbb;
	--accent2: rgb(180, 227, 165);
	--accent-darker: #9bc593;
	--gray: #979797;
	--dark-gray: #393939;
	--darker-gray: #2c2c2c;
	--light-gray: #b2b2b2;
	--red: #e75555;
}

@font-face {
	font-family: inter;
	src: url("../assets/Inter_variable.ttf") format("truetype");
}

body {
	background-color: var(--bg);
	color: var(--fg);
	font-family: inter;
}

/* button reset */
button {
	background: none;
	border: none;
	padding: 0;
}

#root {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

@media screen and (max-width: 1300px) {
	#root {
		padding: 20px 50px;
	}
}

@media screen and (max-width: 600px) {
	#root {
		padding: 20px;
	}
}