.formContainer {
    gap: 1rem;
    padding: 0 40px 40px 40px;
}

form {
    display: flex;
    flex-direction: column;
}

.comments {
    padding: 0 40px;
}

.comment {
    /* border-bottom: 1px solid var(--darker-gray); */
    padding: 1rem 0;
}

.commentHeader {
    display: flex;
    align-items: center;
    gap: .6rem;
}

.username {
    font-weight: 600;
    color: var(--fg);
}

.commentDate {
    font-size: 14px;
    color: var(--gray);
}

.commentText {
    color: var(--gray);
    margin-top: 0.5rem;
}

.pleaseLogin {
    color: var(--gray);
}

textarea {
    border: none;
    background-color: var(--bg-alt);
    width: 100%;
    padding: 18px;
    resize :none;
    color: var(--gray);
    border-radius: 4px;
}

textarea:enabled {
    border: none;
    outline: none;
}

.submitButton {
    align-self: end;
    color: var(--gray);
    background-color: var(--bg-alt);
    padding: 10px 24px;
    border-radius: 40px;
    margin-top: 12px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}
.submitButton:hover {
    color: var(--bg);
    background-color: var(--accent);
}

.deleteCommentButton {
    color: var(--dark-gray);
    cursor: pointer;
    font-size: 14px;
    transition: all .3s ease;
}

.deleteCommentButton:hover {
    text-decoration: underline;
    color: var(--accent)
}