.dashboardOptions {
	display: flex;
	margin-bottom: 12px;
	gap: 12px;
}

.searchPost {
	flex: 4;
}

.searchInput {
	padding: 12px 18px;
	border: none;
	background-color: var(--bg-alt);
	color: var(--gray);
	font-size: 14px;
	border-radius: 50px;
}

.searchInput:enabled {
	border: none;
	outline: none;
}

.selectContainer {
	flex: 3;
	display: flex;
	align-items: center;

	background-color: var(--bg-alt);
	border-radius: 50px;
	overflow: hidden;
	padding-right: 14px;
	font-size: 14px;
}
.selectContainer select {
	flex: 1;
	appearance: none;
	border: none;
	background-color: var(--bg-alt);
	padding: 12px 18px;
	color: var(--gray);
	cursor: pointer;
}

.sortButton {
	color: var(--gray);
}
.sortButton svg {
	cursor: pointer;
	transition: all 0.3s ease;
}
.sortButton svg:hover {
	stroke: var(--accent);
}

.newPost {
	flex: 1;
}

.newPostLink {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;

	background-color: var(--accent);
	color: var(--bg-alt);
	border-radius: 50px;
	transition: all 0.3s ease;
	cursor: pointer;
}

.newPostLink:hover {
	background-color: var(--bg-alt);
	color: var(--fg);
}

@media (max-width: 768px) {
	.dashboardOptions {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.searchPost {
		grid-row: 1;
		grid-column: 1/3;
	}

	.selectContainer {
		grid-row: 2;
		grid-column: 1;
	}

	.newPost {
		grid-row: 2;
        grid-column: 2;
	}
}
