.wrapper {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.6);
	justify-content: center;
	align-items: center;
	z-index: 999;
}

.active {
	display: flex;
}

.modalContent {
	display: flex;
	flex-direction: column;
	gap: 22px;

	background: var(--bg-alt);
	padding: 3rem;
	border-radius: 16px;
	text-align: center;
	max-width: 480px;
}

.buttonGroup {
	display: flex;
	gap: 6px;
	justify-content: center;

	font-weight: 500;
	font-size: 0.9rem;
}

.confirmButton,
.cancelButton {
	border: none;
	padding: 8px 16px;
	border-radius: 24px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.confirmButton {
	background-color: var(--accent);
	color: var(--bg);
}

.cancelButton {
	background-color: var(--darker-gray);
	color: rgb(156, 156, 156);
}

.confirmButton:hover {
	filter: brightness(80%);
}

.cancelButton:hover {
	filter: brightness(80%);
}

@media screen and (max-width: 460px) {
	.wrapper {
		padding: 20px;
	}
}
