.errorContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 12px;

	min-height: 95vh;
}

.errorMessage {
	font-size: 32px;
}

.siteIcon img {
	aspect-ratio: 1/1;
	width: 48px;
	border-radius: 50%;
}
