footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0 20px 0;
  color: var(--gray);
}

footer a {
  color: var(--accent);
  transition: all 0.3s ease;
}

footer a:hover {
  color: var(--accent-darker);
}