.postContainer {
    padding: 40px
}

.homeLink {
    font-size: 16px;
    color: var(--gray);
    font-weight: 500;
    margin-bottom: 24px;
    display: inline-block;
    transition: all 0.3s ease;
}

.homeLink:hover {
    color: var(--accent);
}

.postTitle {
    font-size: 48px;
    margin: 10px 0;
    font-weight: 400;
    color: var(--fg);
    letter-spacing: .2px;
}

.postDate {
    font-size: 16px;
    color: var(--gray);
    margin-bottom: 32px;
}

.postContent {
    font-size: 18px;
    color: var(--fg);
    line-height: 1.6;
    color: var(--light-gray);
    letter-spacing: .2px;
}