.wrapper {
	padding: 40px;
}

.formContainer {
	padding: 28px;
	border-radius: 12px;
	background-color: var(--bg-alt);
}

.titleInput {
	background: none;
	border: none;
	outline: none;
	color: var(--fg);
	font-size: 36px;
	background-color: var(--bg-alt);
	padding: 4px 18px;
	width: 100%;
	border-bottom: 1px solid var(--dark-gray);
}

.contentTextarea {
	height: 500px;
	min-height: 240px;
	white-space: pre-wrap;
	word-wrap: break-word;
	/* resize: vertical; */
}

.buttonGroup {
	margin-top: 12px;
	display: flex;
	justify-content: end;
	gap: 8px;
}

.buttonGroup button {
	cursor: pointer;
	padding: 8px 18px;
	border-radius: 24px;
	transition: all ease 0.3s;
	font-size: 0.9rem;
	font-weight: 500;
}

.publishButton {
	background-color: var(--accent);
	color: var(--bg);
}

.draftButton {
	background-color: var(--darker-gray);
	color: rgb(156, 156, 156);
}

.publishButton:hover {
	background-color: var(--bg);
	color: var(--fg);
}

.draftButton:hover {
	filter: brightness(80%);
}

.backLinkContainer {
	padding: 40px 40px 0 40px;
}

.backLink {
	font-size: 16px;
	color: var(--gray);
	font-weight: 500;
	display: inline-block;
	transition: all 0.3s ease;
}

.backLink:hover {
	color: var(--accent);
}

@media screen and (max-width: 520px) {
	.wrapper {
		padding: 20px;
	}

	.formContainer {
		padding: 20px;
		border-radius: 12px;
		background-color: var(--bg-alt);
	}

	.backLinkContainer {
	    padding: 20px 20px 0 20px;
    }

    .titleInput {
	font-size: 24px;
}
}
