.postsContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	/* gap: 20px; */
}

.post {
	padding: 24px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	/* background-color: #1d1d1d; */
	transition: all 0.3s ease;
}

.post:hover {
    background-color: var(--bg-alt);
}

.postTitle {
	font-size: 30px;
	margin: 10px 0;
	color: var(--fg);
    transition: all 0.3s ease;
	font-weight: 400;
}

.postTitle:hover {
    color: var(--accent);
}

.postContent {
	font-size: 16px;
	font-weight: 400;
	color: var(--gray);
	line-height: 2;
	margin-bottom: 28px;

	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3; /* Number of lines to show */
	-webkit-box-orient: vertical;
}

.postDate {
    font-size: 16px;
    color: var(--gray);
}

.paginations {
	display: flex;
	justify-content: flex-end;
	margin-top: 12px;
}

.pageButton{
	background-color: var(--bg-alt);
	border-radius: 60px;
	border: none;
	padding: 10px;
	cursor: pointer;
	transition: all 0.3s ease;
}
.pageButton > svg {
	transition: all 0.3s ease;
}

.pageButton:hover {
	background-color: var(--accent);
}
.pageButton:hover > svg {
	stroke: var(--bg);
}

.postFooter {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.postStatus {
	display: inline-block;
	background-color: var(--bg-alt);
	padding: 10px 18px;
	border-radius: 24px;
	font-size: 14px;
	color: var(--gray);
	transition: all 0.3s ease;
}
.postStatus:hover {
	color: var(--accent);
}

.adminActions {
	display: flex;
	justify-content: end;
	gap: 8px;
}

.adminDeleteButton, .adminEditButton {
	display: inline-block;
	cursor: pointer;
	background-color: var(--bg-alt);
	padding: 10px;
	border-radius: 50px;
	transition: all 0.3s ease;
}
.adminDeleteButton svg, .adminEditButton svg {
	transition: all 0.3s ease;
}
.adminDeleteButton:hover, .adminEditButton:hover {
	background-color: var(--accent);
}
.adminDeleteButton:hover svg, .adminEditButton:hover svg {
	stroke: var(--bg);
}

@media (max-width: 768px) {
	.postsContainer {
		grid-template-columns: 1fr;
	}
}

@media screen and (max-width: 460px) {
	.post {
	padding: 12px;
}
}


