.postsContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	/* gap: 20px; */
}

.post {
	padding: 24px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	/* background-color: #1d1d1d; */
	transition: all 0.3s ease;
}

.post:hover {
    background-color: var(--bg-alt);
}

.postTitle {
	font-size: 30px;
	margin: 10px 0;
	color: var(--fg);
    transition: all 0.3s ease;
	font-weight: 400;
}

.postTitle:hover {
    color: var(--accent);
}

.postContent {
	font-size: 16px;
	font-weight: 400;
	color: var(--gray);
	line-height: 2;
	margin-bottom: 28px;

	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3; /* Number of lines to show */
	-webkit-box-orient: vertical;
}

.postDate {
    font-size: 16px;
    color: var(--gray);
}

.paginations {
	display: flex;
	justify-content: flex-end;
	margin-top: 12px;
	grid-column: 2 / 2;
}

.pageButton{
	background-color: var(--bg-alt);
	border-radius: 60px;
	border: none;
	padding: 10px;
	cursor: pointer;
	transition: all 0.3s ease;
}
.pageButton > svg {
	transition: all 0.3s ease;
}

.pageButton:hover {
	background-color: var(--accent);
}
.pageButton:hover > svg {
	stroke: var(--bg);
}

@media (max-width: 768px) {
	.postsContainer {
		grid-template-columns: 1fr;
	}

	.paginations {
		justify-content: center;
		grid-column: 1 / 1;
	}
}